<div class="container">
    <div class="popular__recipes">
        <div class="recipe">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSm3NhiuT-xHD8UvCf2DgsbDbgFU0XQOtAzw&usqp=CAU" alt="">
            <div class="recipe__info">
                <h2>Название блюда</h2>
                <div>Время готовки: 15 мин</div>
                <div class="recipe__ingredients">
                    Ингредиенты:
                    <div class="recipe__ingredients__list">
                        <span>Мясо</span>
                        <span>Мясо</span>
                        <span>Мясо</span>
                        <span>Мясо</span>
                        <span>Мясо</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
